<section>
  <h2>Filter results</h2>
  <form [formGroup]="filterForm">
    <label for="name">Name (Contains) </label>
    <input
      (input)="filterByName()"
      placeholder="Text String"
      type="text"
      name="name"
      formControlName="name"
    />

    <label for="score">Minimum Score</label>
    <input
      (input)="filterByScore()"
      class="score"
      placeholder="1 - 10"
      type="number"
      name="score"
      formControlName="score"
    />
    <!-- Because every browser and OS applies its own 
native styling to dropdowns, I used radio buttons  here to 
create the needed custom dropdown.
-->

    <div class="dropdown-group">
      <label for="sort">Order By</label>

      <div id="sort" class="dropdown" (click)="toggleDropdown()">
        <span *ngIf="!filterForm.value.order"> --Sort By-- </span>
        <span *ngIf="filterForm.value.order">
          {{ filterForm.value.order }}
        </span>
        <div class="arrow"></div>
      </div>
      <div class="inputs" [ngClass]="{ shown: dropdownShown }">
        <label
          (click)="toggleDropdown(); sortByvalue('date')"
          [ngClass]="{ active: filterForm.value.order === 'date' }"
          for="date"
          >Release date</label
        >
        <input
          type="radio"
          name="order"
          value="date"
          id="date"
          formControlName="order"
        />
        <label
          (click)="toggleDropdown(); sortByvalue('score')"
          [ngClass]="{ active: filterForm.value.order === 'score' }"
          for="score"
          >score</label
        >
        <input
          formControlName="order"
          value="score"
          type="radio"
          name="order"
          id="score"
        />
        <label
          (click)="toggleDropdown(); sortByvalue('name')"
          [ngClass]="{ active: filterForm.value.order === 'name' }"
          for="name"
          >Name</label
        >
        <input
          type="radio"
          name="order"
          value="name"
          id="name"
          formControlName="order"
        />
      </div>
    </div>
    <button (click)="clear()">Clear</button>
  </form>
</section>

<!-- 
   <label for="category">Category</label>
<select name="category" id="category" formControlName="order">
  <option value="0">Order By</option>
  <option value="score">Score</option>
  <option value="name">Name</option>
</select> -->
