@import "../../../config";

header {
  min-height: 15rem;
  background-color: transparent;
  nav {
    display: flex;
    min-height: 14rem;
    align-items: center;
    gap: 5rem;
    @include tablet-sm {
      flex-direction: column;
      gap: 3rem;
      margin-bottom: 1rem;
      padding: 3rem 0;
    }
    a {
      position: relative;
      text-transform: uppercase;
      font-size: 2.5rem;
    }
    .games,
    .contact {
      &:after {
        content: "Video";
        font-size: clamp(3.5rem, 10vw, 5rem);
        position: absolute;
        font-weight: bolder;
        opacity: 0.3;
        top: -3rem;
        left: -4rem;
        display: none;
        @include mobile {
          top: -2rem;
        }
      }

      &.active:after {
        display: block;
      }
    }
    .contact:after {
      content: "Contact";
    }
  }
}
