@import "../../../config";
.item {
  background-color: $clr-primary;
  position: relative;
  margin-bottom: 1.5rem;
  display: grid;
  grid-template-columns: 10rem 1fr;
  @include mobile {
    display: block;
  }

  .image {
    height: 100%;
    width: 10rem;
    background-color: $clr-black;
    flex-shrink: 0;
    @include mobile {
      display: block;
      width: 100%;
      height: 13rem;
    }
  }
  .content {
    padding: 1rem;
    @include flex-row;
    justify-content: space-between;
    h2 {
      font-size: 2rem;
      margin-bottom: 0.2rem;
      //   letter-spacing: 1px;
    }
    h5 {
      //   letter-spacing: 0.8px;
      font-weight: normal;
      font-size: 1.4rem;
      margin-bottom: 1.2rem;
    }
    p {
      font-size: 1.2rem;
    }
    .rating {
      height: 4rem;
      width: 4rem;
      border-radius: 50%;
      background-color: $clr-accent;
      flex-shrink: 0;
      flex-grow: 0;
      font-size: 1.6rem;
      @include flex-row;
      justify-content: center;
      font-weight: bold;
      margin: 0.5rem;
      @include mobile {
        height: 3.5rem;
        width: 3.5rem;
        position: absolute;
        top: 1rem;
        right: 1rem;
        z-index: 9;
      }
    }
  }
  animation: slide 0.3s ease-in;
}

@keyframes slide {
  0% {
    transform: translateY(-2rem);
  }
  100% {
    transform: translateY();
  }
}
