@import "./config";

//Rules
:root {
  width: 100vw;
  height: auto;
  font-size: 10px;
}

*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
  font-size: $font-size;
}
//Global styles
body {
  font-weight: 300;
  width: 100vw;
  min-height: 100vh;
  max-width: 100vw;
  background: linear-gradient(#081221, #03080f);
  overflow-x: hidden;
  color: $clr-txt;
  scroll-behavior: smooth;

  &::-webkit-scrollbar {
    background: $clr-black;
    height: 0.8rem;
    width: 0.8rem;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 2rem;
    width: 0.8rem;
    background-color: $clr-primary;
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
button {
  color: inherit;
  font-size: 2.8rem;
  font-family: "Montserrat", sans-serif !important;
}

li {
  list-style: none;
  text-decoration: none;
}
a {
  text-decoration: none;
  color: $clr-txt;
}

button {
  height: 4rem;
  width: 11rem;
  // border-radius: $radius;
  outline: none;
  cursor: pointer;
  font-size: 1.5rem;
  border: none;
  color: $clr-white;
  background-color: $clr-accent;
  @include transition-short;

  &:hover {
    transform: translateY(-0.5rem);
  }
  @include tablet-sm {
    width: 100%;
  }
}

.container {
  width: 90%;
  height: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 1rem;
  @include tablet-sm {
    width: 98%;
  }
}
